$titleBarHeight: 1.9em;

$baseColor: #101010;
$surfaceColor: #121212;
$overlayColor: #181818;

$primaryColor: #bd0f0f;

$highEmphasisText: #ffffffde;
$mediumEmphasisText: #ffffff99;
$disabledText: #ffffff61;
