$titleBarHeight: 1.4em;

$baseColor: #101010;
$surfaceColor: #121212;
$overlayColor: #181818;
$titleBarColor: #212121;

$primaryColor: #d32f2f;

$highEmphasisText: #ffffffde;
$mediumEmphasisText: #ffffff99;
$disabledText: #ffffff61;
