$titleBarHeight: 1.9em;

$baseColor: #101010;
$surfaceColor: #121212;
$overlayColor: #181818;

$primaryColor: #bd0f0f;
$primaryColorDark: #b30f0f;
$primaryColorExtraDark: #760a0a;

$highEmphasisText: #ffffffde;
$mediumEmphasisText: #ffffff99;
$disabledText: #ffffff61;
